@use 'src/styles/vars' as v;

.admin_content {
    display: flex;
    justify-content: space-around;
}

.admin_form, .admin__bet_validator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin_title {
  font-family: v.$title-font;
  font-size: 2em;
  color: rgb(167, 163, 163);
}

.dropdownElement {
  width: 30%;
  margin: auto;
  align-items: center;
  background-color: white;
  color: white;
  font-family: v.$text-font;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.button_dropdown{
  text-align: center;
}

.admin_submit {
  align-items: center;
  margin: v.$gutter;
  background-color: #1f8ce8;
  color: white;
  font-family: v.$text-font;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1em 2em;
  border-radius: 2em;
}
.admin_input, textarea, select {
  align-items: center;
  margin: v.$gutter;
  background-color: white;
  color: rgb(85, 83, 83);
  text-align: center;
  font-family: v.$text-font;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 2em;
}

@media (max-width: v.$breakpoint-tablet) {
  
  .dropdownElement {
    width: 70%;
  }
  .admin_submit {
  align-items: center;

  background-color: #1f8ce8;
  color: white;
  font-family: v.$text-font;
  font-weight: bold;
  font-size: 1rem;
  padding: 1em 2em;
  border-radius: 2em;
}
}
